/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Sep 19, 2014, 11:42:12 PM
    Author     : Jeff
*/

.container-fluid {
    padding: 0;
}

#header{
    background: url('/templates/worksaver/images/headbg.jpg') center  no-repeat;
    background-size: cover;
    width: 100%;
    max-height: 100%;
    margin: 0px;
}

.flag{
    margin-top: 15px;
}

#headnav{
    background-color: #6a6a69;

}

.navi{
    margin-left: auto;
    margin-right: auto;
}

.nav-pills>li>a {
    border-radius: 0px;

}

#slideRow {
    padding: 0px;

}

.slider-adjust{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    min-width: 100%;

}


.item-adjust{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    min-width: 100%;
}


/*Head Search Bar*/
#custom-search-form {
    margin:0;
    margin-top: 15px;
    padding: 0;
}

#custom-search-form .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */

    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#custom-search-form button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.search-query:focus + button {
    z-index: 3;
}
/*Head search bar end*/







#footnav{
    background-color: #6a6a69;

}

#footer{
    background: url('/templates/worksaver/images/headbg.jpg') center  no-repeat;
    background-size: cover;
    width: 100%;
    max-height: 100%;
    margin: 0px;
}

.foot-contact{

}

.foot-badges{

}