/*
    Created on : Sep 19, 2014, 11:42:12 PM
    Author     : Jeff
*/

.item-page h3 {
    margin-top: 0px;
}

.item-page h3 a{
    color: black;
}

.item-page .row {
    margin-bottom: 40px;
    padding: -15px;
}

.item-page .table .img-responsive {
    max-width: 214px;
}

.container-fluid {
    padding: 0;
}

#header{
    background: url('/templates/worksaver/images/headbg.jpg') center  no-repeat;
    background-size: cover;
    width: 100%;
    max-height: 100%;
    margin: 0px;
    padding: 0px;
}

.flag{
    margin-top: 15px;
}

.head-search {
    margin-left: auto;
    margin-right: auto;
    text-align: right;
    padding-right: 15px;
    margin-top: 20px;
}

.head-logo { text-align: center;
             margin-left: auto;
             margin-right: auto;
             max-width: 400px;
}

.search { vertical-align: top;
          height: 30px;
          display: inline-flex; }

.search .form-inline {
    display: inherit;
}

.search-query {
    background-color: #f7f7f7;
}

.element-invisible{
    display: none;
    border: none;
    -webkit-appearance: none;
}

#headnav{
    background-color: #6a6a69;
    margin-left: 0px;
    margin-right: 0px;
}

#headnav .row {
    /*margin: 0px;*/
}

#headnav .container .row>div{
    padding: 0;
}

nav ul li a{
    margin-left: auto;
    margin-right: auto;
    color: white;
}

.nav-pills>li>a {
    border-radius: 0px;
}

.nav>li>a:hover{
    background-color: #9a9897;
    color: white;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    background-color: #9a9897;
    color: white;
}


#slideRow {
    padding: 0px;
}

#slideRow div {
    padding: 0;
    margin: 0;

}

.slider-adjust{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    min-width: 100%;
}

.slider-adjust .item img {
    max-width: 100%;
    width: 100%;
    height: auto;
}


.item-adjust{
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
}

.carousel-indicators, .carousel-control {
    /*    display: none;*/
}

/* Makes images fully responsive */

.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    display: block;

}


.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #ccc;
}


/* ------------------- Carousel Styling ------------------- */

.carousel-indicators {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 15;
    margin: 0;
    padding: 0 25px 25px 0;
    text-align: right;
}

.carousel-control.left,
.carousel-control.right {
    background-image: none;
}

.item-page ul{
    padding: 0px;

}

.item-page table td {
    padding: 8px;
}



#footnav{
    background-color: #6a6a69;
    margin-left: 0px;
    margin-right: 0px;

}

#footer{
    background: url('/templates/worksaver/images/headbg.jpg') center  no-repeat;
    background-size: cover;
    width: 100%;
    max-height: 100%;
    margin: 0px;
}

address{
    line-height: 0px !important;
    color: white;

}

.foot-contact{
    margin-top: 30px;
}

.foot-badges{

}

.foot-logo{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;

}

.bg-gradient{
    background: rgb(198,196,194); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(198,196,194,1) 0%, rgba(244,242,242,1) 32%, rgba(244,242,242,1) 63%, rgba(198,196,194,1) 98%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(198,196,194,1)), color-stop(32%,rgba(244,242,242,1)), color-stop(63%,rgba(244,242,242,1)), color-stop(98%,rgba(198,196,194,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(198,196,194,1) 0%,rgba(244,242,242,1) 32%,rgba(244,242,242,1) 63%,rgba(198,196,194,1) 98%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(198,196,194,1) 0%,rgba(244,242,242,1) 32%,rgba(244,242,242,1) 63%,rgba(198,196,194,1) 98%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(198,196,194,1) 0%,rgba(244,242,242,1) 32%,rgba(244,242,242,1) 63%,rgba(198,196,194,1) 98%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(198,196,194,1) 0%,rgba(244,242,242,1) 32%,rgba(244,242,242,1) 63%,rgba(198,196,194,1) 98%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c6c4c2', endColorstr='#c6c4c2',GradientType=0 ); /* IE6-9 */


}



/*Rotary-Broom Tables*/
.table-body{

}
.table-col-header{
    font-size: 1.5em;
}
.table-col-note{

}
.table-col-modelnum{
    font-style: oblique;
}

.table-col-img{
    background: white;
    text-align: center;

}

/*Product Table Adjustments*/
.tbody-content{

}

.tbody-content>tr{

}

.tbody-content>td{

}

.tbody-content img{
    max-height: 300px;
    max-width: 300px;
}

td { font-weight: bold; }

.caution-icon li{
    list-style-image: url('/images/Caution2.gif');
    list-style-type: none;
    float: left;

}

.hor-line{
    height: 10px;
    border-color: darkgray;

}

.list-nopad{
    margin-top: 0px;
    padding: 0px;
}

@media (max-width: 1200px){
    .slider-adjust .item img {
        max-width: 100%;
        width: 100%;
        height: 242px;
    }
}
@media (max-width: 992px){
    .slider-adjust .item img {
        max-width: 100%;
        width: 100%;
        height: 187px;
    }
    .nav>li>a {
        position: relative;
        display: block;
        padding: 10px 12px;
        font-size: smaller;
    }
}
@media (max-width: 767px){
    .slider-adjust .item img {
        max-width: 100%;
        width: 100%;
        height: auto;
    }
}






@media (max-width: 992px){
    #index-thumbs img{
        margin-bottom: 40px;
        margin-left: auto;
        margin-right: auto;
    }

    .item-page .row {
        max-width: 930px;
    }

}




@media(max-width: 767px){
    .item-page .row {
        margin-bottom: 40px;
        margin-left: -5px;
        margin-right: -5px;
    }

    .item-page .page-header {
        margin: 42px 10px 21px;
    }

    .head-search {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding-bottom: 15px;
        margin-top: 20px;

    }

    .head-logo { text-align: center;
                 margin-left: auto;
                 margin-right: auto;
                 max-width: 400px;
    }

    .foot-contact{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding-bottom: 15px;
        margin-top: 20px;
    }

    .foot-badges{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .foot-logo{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        max-width: 400px;

    }




}

/*@media  (max-width: 992px){*/
/*    187px*/
/*}*/
