/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Sep 19, 2014, 11:42:12 PM
    Author     : Jeff
*/

.container-fluid {
    padding: 0;
}

#header{
    background: url('/templates/worksaver/images/headbg.jpg') center  no-repeat;
    background-size: cover;
    width: 100%;
    max-height: 100%;
    margin: 0px;
}

.flag{
    margin-top: 15px;
}

.head-search{
    margin-left: auto;
    margin-right: auto;
}

#headnav{
    background-color: #6a6a69;

}

nav>ul>li{
    margin-left: auto;
    margin-right: auto;
    color: white;


}

.nav-pills>li>a {
    border-radius: 0px;

}

#slideRow {
    padding: 0px;
}

#slideRow div {
    padding: 0;
    margin: 0;
    min-height: 278px;
    max-height: 278px;
}

.slider-adjust{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    min-width: 100%;

}


.item-adjust{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    min-width: 100%;
}

.item-page table td {
    padding: 8px;
}



#footnav{
    background-color: #6a6a69;

}

#footer{
    background: url('/templates/worksaver/images/headbg.jpg') center  no-repeat;
    background-size: cover;
    width: 100%;
    max-height: 100%;
    margin: 0px;
}

address{
    line-height: 0px !important;
    color: white;

}

.foot-contact{
    margin-top: 20px;
}

.foot-badges{

}

.foot-logo{


}
